/* Header styling */
.header {
    padding: 80px;
    text-align: center;
    background: #006400;
    color: black;
}


/* Style the navigation bar*/
.navbar {
    overflow: hidden;
    background-color: #006400;
    color: black;
}

/* Style the links */
.navbar a {
    float: left; /* ensures links stay side by side*/
    display: block;
    color: black;
    text-align: right;
    padding: 20px 20px;
    text-decoration: none; /* Removes underline */
}

.navbar a.right {
    float: right;
}

/* Changes color when mouse hovers link */
.navbar a:hover {
    background-color: #787878;
    color: black;
}

h1.info {
    text-align: center;
    color: black;
}

/* Style for body portion of page as a whole */
body {
    background-color: #787878;
}

p {
    margin-left: 50px;
    margin-right: 50px;
}
